// Font family
$main-font: 'Comfortaa', cursive;
$second-font: 'Inter', sans-serif;

$color-star: #B9C400;

//Color text
$color-dark: #262C27;
$color-secondary: #0093A1;


//Color classic
$color-black: #000;
$color-white: #FFFFFF; 
