.hero__bkg {
  background-image: url(../images/header_hero/hero-bkg1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  position: relative;
  min-width: 1600px;
  margin: 0 auto;
}
.hero__bkg::before {
  content: '';
  position: absolute;
  background-color: $color-dark;
  height: 180px;
  left: 0;
  right: 0;
  background-size: cover;
}
.hero__img {
  background-color: transparent;
  position: absolute;
  top: 250px;
  right: 32%;
  z-index: 5;
  display: block;
}
.hero__text {
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: $color-white;
  max-width: 305px;
}
.hero__text--line {
  border-bottom: 1px solid $color-white;
  padding-bottom: 30px;
}
.hero__text:not(:last-child) {
  margin-right: 87px;
}
.hero__box {
  display: flex;
  padding-top: 515px;
  position: relative;
}
.play__text {
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: $color-white;
  padding-top: 12px;
}
.hero__btn {
  padding-top: 82px;
  border: none;
  background-color: transparent;
  position: absolute;
  left: 16%;
  bottom: 0;
  cursor: pointer;
  fill: $color-white;
  stroke: $color-white;
}

.hero__btn:hover {
  stroke: $color-star;
  fill: $color-star;
  color: $color-secondary;
}
.hero__svg:hover {
  transform: rotate(360deg);
  @extend %animation-play;
}
.hero__svg {
  transform: rotate(-360deg);
  @extend %animation-play;
}
.svg {
  fill: $color-white;
}
.svg:hover {
  fill: $color-star;
  background-color: $color-star;
}
.specs {
  display: flex;
  justify-content: center;
  align-items: center;
 padding-top: 600px;
  padding-bottom: 80px;
}
.specs__text {
  font-family: $second-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: $color-white;
  text-transform: uppercase;
  margin-right: 25px;
  width: 190px;
}
.specs__subtext {
  font-family: $second-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: $color-white;
  text-transform: uppercase;
}
.specs__header {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.12;
  color: $color-white;
  text-transform: uppercase;
  margin-right: 130px;
}
.specs__table {
  display: flex;
  width: 585px;
  justify-content: flex-start;
}
.specs__table:not(:last-child) {
  margin-bottom: 15px;
}
.specs__line {
  border-top: 1px solid $color-white;
  border-bottom: 1px solid $color-white;
  padding: 30px 0;
}
