<footer class="footer">
    <div class="container">
        <div class="footer__flex">
            <h2 class="footer__caption">CONTACT US</h2>
            <a href="" class="hero-logo__btn">
                <svg class="logo logo__icon" width="370" height="82">
                    <use href="./images/svg/svg-sprite.svg#icon-logo"></use>
                </svg>
            </a>
        </div>
        <div class="footer-form__container">
        <form class="footer__form">
            <input class="footer__input" type="name" placeholder="NAME">
            <input class="footer__input" type="mail" placeholder="E-MAIL">
        </form>
        <button class="footer__button" type="button" data-modal-open>SEND</button>
        </div>
        <div class="footer-social__container">
            <p class="footer__social">INSTAGRAM</p>
            <ul class="footer__list">
                <li class="footer__item">
                    <picture>
                        <source 
                        srcset="./images/footer/1-1x.jpg 1x, ./images/footer/1-2x.jpg 2x" 
                        type="image/jpg">
                        <img class="footer__pic" width="260px" src="./images/footer/1-1x.jpg" alt="insta-pic">
                    </picture>
                </li>
                <li class="footer__item">
                    <picture>
                        <source srcset="./images/footer/2-1x.jpg 1x, ./images/footer/2-2x.jpg 2x" type="image/jpg">
                        <img class="footer__pic" width="260px" src="./images/footer/1-1x.jpg" alt="insta-pic">
                    </picture>
                </li>
                <li class="footer__item">
                    <picture>
                        <source srcset="./images/footer/3-1x.jpg 1x, ./images/footer/3-2x.jpg 2x" type="image/jpg">
                        <img class="footer__pic" width="260px" src="./images/footer/1-1x.jpg" alt="insta-pic">
                    </picture>
                </li>
                <li class="footer__item">
                    <picture>
                        <source srcset="./images/footer/4-1x.jpg 1x, ./images/footer/4-2x.jpg 2x" type="image/jpg">
                        <img class="footer__pic" width="260px" src="./images/footer/1-1x.jpg" alt="insta-pic">
                    </picture>
                </li>
            </ul>
        </div>
        <div class="information">
            <ul class="information__list">
                <li class="information__item">
                    <a href="" class="information__link">COPYRIGHT 2022</a>
                </li>
                <li class="information__item">
                    <a href="" class="information__link">ALL RIGHTS RESERVED</a>
                </li>
                <li class="information__item">
                    <a href="" class="information__link">COOKIE SETTINGS</a>
                </li>
                <li class="information__item">
                    <a href="" class="information__link">PRIVACY STATEMENTS</a>
                </li>
                <li class="information__item">
                    <a href="" class="information__link">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="close" data-modal-close>
            <svg width="11" height="11">
                <use href="./images/svg/svg-sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div role="group" class="modal-list">
            
            <form class="js-speaker-form form">
                <p class="modal-caption">Leave your contacts</p>
                <div class="form-modal">
                    <label for="name" class="modal-label"> Name </label>
                    <input class="form-input" type="text" name="user-name" id="name" />
                    <svg class="modal-icon" width="12" height="12">
                        <use href="./images/svg/svg-sprite.svg#icon-name"></use>
                    </svg>
                </div>
                <div class="form-modal">
                    <label for="tel" class="modal-label">Phone</label>
                    <input class="form-input" type="tel" id="tel" />
                    <svg class="modal-icon" width="13" height="13">
                        <use href="./images/svg/svg-sprite.svg#icon-tel"></use>
                    </svg>
                </div>
                <div class="form-modal">
                    <label for="mail" class="modal-label">E-mail</label>
                    <input class="form-input" type="email" id="mail" />
                    <svg class="modal-icon" width="15" height="12">
                        <use href="./images/svg/svg-sprite.svg#icon-mail"></use>
                    </svg>
                </div>
                <div class="form-modal">
                    <label for="comment" class="modal-label">Order comment</label>
                    <textarea class="textarea-modal" name="comment" rows="9" id="comment"
                        placeholder="Write text"></textarea>
                </div>
                <label class="checkbox-text" for="policy">
                    <input class="input-check" type="checkbox" id="policy" />
                    <span class="icon-check"></span>
                    I agree with the newsletter and accept
                    <a class="checkbox-link" href=""> Terms of an agreement </a></label>
                <button class="submit-button" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>