<section class="footer">
    <div class="container">
        <div class="footer__flex">
            <h2 class="footer__caption">CONTACT US</h2>
            <a href="" class="hero-logo__btn">
                <svg class="logo logo__icon" width="370" height="82">
                    <use href="./images/svg/svg-sprite.svg#icon-logo"></use>
                </svg>
            </a>
        </div>
        <div class="footer-form__container">
        <form class="footer__form">
            <input class="footer__input" type="name" placeholder="NAME">
            <input class="footer__input" type="mail" placeholder="E-MAIL">
        </form>
        <button class="footer__button" type="submit">SEND</button>
        </div>
        <div class="footer-social__container">
            <p class="footer__social">INSTAGRAM</p>
            <ul class="footer__list">
                <li class="footer__item">
                    <picture>
                        <source 
                        srcset="./images/footer/1-1x.jpg 1x, ./images/footer/1-2x.jpg 2x" 
                        type="image/jpg">
                        <img class="footer__pic" width="260px" src="./images/footer/1-1x.jpg" alt="insta-pic">
                    </picture>
                </li>
                <li class="footer__item">
                    <picture>
                        <source srcset="./images/footer/2-1x.jpg 1x, ./images/footer/2-2x.jpg 2x" type="image/jpg">
                        <img class="footer__pic" width="260px" src="./images/footer/1-1x.jpg" alt="insta-pic">
                    </picture>
                </li>
                <li class="footer__item">
                    <picture>
                        <source srcset="./images/footer/3-1x.jpg 1x, ./images/footer/3-2x.jpg 2x" type="image/jpg">
                        <img class="footer__pic" width="260px" src="./images/footer/1-1x.jpg" alt="insta-pic">
                    </picture>
                </li>
                <li class="footer__item">
                    <picture>
                        <source srcset="./images/footer/4-1x.jpg 1x, ./images/footer/4-2x.jpg 2x" type="image/jpg">
                        <img class="footer__pic" width="260px" src="./images/footer/1-1x.jpg" alt="insta-pic">
                    </picture>
                </li>
            </ul>
        </div>
        <div class="information">
            <ul class="information__list">
                <li class="information__item">
                    <a href="" class="information__link">COPYRIGHT 2022</a>
                </li>
                <li class="information__item">
                    <a href="" class="information__link">ALL RIGHTS RESERVED</a>
                </li>
                <li class="information__item">
                    <a href="" class="information__link">COOKIE SETTINGS</a>
                </li>
                <li class="information__item">
                    <a href="" class="information__link">PRIVACY STATEMENTS</a>
                </li>
                <li class="information__item">
                    <a href="" class="information__link">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</section>