<section>
   <header>
    <div class="container">
        <ul>
            <li>
                <a href="">
                    <svg width="158" height="34">
                        <use class="logo" href="./images/svg/svg-sprite.svg#icon-logo"></use>
                      </svg>
                </a>
            </li>
            <li>
                <button>

                </button>
            </li>
            <li>
                <a href=""></a>
            </li>
        </ul>
    </div>
   </header> 
</section>