<section class="header__bkg">
  <header>
    <div class="container">
      <ul class="nav">
        <li class="nav__list link">
          <a class="nav__logo" href="">
            <svg width="158" height="34">
              <use
                class="logo"
                href="./images/svg/svg-sprite.svg#icon-logo"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <button">
          <a
                class="nav__btn link" href="">buy</a>
          </button>
        </li>
        <li>
          <a class="nav__tel link" href="tel:+17777777">+1 777 77 77</a>
        </li>
      </ul>
      <div class="top">
        <div class="top__box">
        <h1 class="top__header">ray air pocket</h1>
        <p class="top__text">inflatable sup board</p>
        <p class="top__text">sizes: 11'6"X31"</p>
      </div>
      </div>
      <div class="nav__text">
        <p class="nav__text--1">free</p>
        <p class="nav__text--2">dom</p>
        <p class="nav__text--3">pack small for big adventures</p>
      </div>
    </div>
  </header>
</section>

