<section>
  <header>
    <div class="container">
      <ul class="nav">
        <li nav__list link>
          <a class="nav__logo" href="">
            <svg width="158" height="34">
              <use
                class="logo"
                href="./images/svg/svg-sprite.svg#icon-logo"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <button type="nav__button">
            <svg width="158" height="34">
              <use
                class="logo"
                href="./images/svg/svg-sprite.svg#icon-button"
              ></use>
            </svg>
          </button>
        </li>
        <li>
          <a class="nav__tel" href="tel:+17777777">+1 777 77 77</a>
        </li>
      </ul>
      <div class="nav__header">
        <h1>ray air pocket</h1>
        <p>inflatable sup board</p>
        <p>sizes: 11'6"X31"</p>
      </div>
      <div>
        <p class="nav__text">free</p>
        <p class="nav__text">dom</p>
        <p class="nav__text">pack small for big adventures</p>
      </div>
    </div>
  </header>
</section>
<section>
  <div>
    <p class="hero__text">
      After our well received Fly Air Pocket Edition we’re adding the respective
      touring iSUP to our Range – the Ray Air Pocket Edition! The ultra
      travel-friendly touring iSUP is built in a tough but light construction
      that allows it to be packed into a backpack half the size of a regular
      iSUP.
      <button>
        <svg width="70" height="70">
            <use
              class="play__btn"
              href="./images/svg/svg-sprite.svg#icon-play"
            ></use>
          </svg>
          <p class="play__text">Play video</p>
      </button>
    </p>
  </div>
  <div>
    <p class="hero__text">
      With a thinner deck pad and tough but flexible construction, the Ray Air
      Pocket Edition can be rolled and packed into a much narrower bag, making
      it extremely easy to store and transport. Based on our highly versatile
      Ray Air 11’6’’, the efficient shape is packed with volume - offering safe,
      stable paddling and superb glide – which makes it the perfect iSUP for
      everyone paddling some distance. With its minimal weight and dimensions
      nothing comes close the convenient handling of our Pocket Edition iSUPs!
    </p>
  </div>
  <img src="./images/header_hero/sup1x.jpg" alt="">
  <div>
    <p>specs</p>
    <ul>
        <li>
            <p>BOARD</p>
            <p>RAY AIR POCKET 11'6"X31"</p>
        </li>
        <li>
            <p>VOLUME</p>
            <p>299 L</p>
        </li>
        <li>
            <p>WIDTH</p>
            <p>31" / 78.7 CM</p>
        </li>
        <li>
            <p>LENGTH</p>
            <p>11'6'' / 350.5 CM</p>
        </li>
        <li>
            <p>THICKNESS</p>
            <p>6” / 15 CM</p>
        </li>
        <li>
            <p>WEIGHT</p>
            <p>8.5 KG</p>
        </li>
        <li>
            <p>FITTINGS</p>
            <p>2X FCS FIN SYSTEM / 2 X 4.5" CLICK FIN</p>
        </li>
        <li>
            <p>REC. USER WEIGHT</p>
            <p>UP TO 100 KG</p>
        </li>
        <li>
            <p>MASTFOOT INSERT</p>
            <p>NO</p>
        </li>
    </ul>
  </div>
</section>
