<section class="hero__bkg">
  <div class="container">
    <div class="hero__box">
    <p class="hero__text hero__text--pos">
      After our well received Fly Air Pocket Edition we’re adding the respective
      touring iSUP to our Range – the Ray Air Pocket Edition! The ultra
      travel-friendly touring iSUP is built in a tough but light construction
      that allows it to be packed into a backpack half the size of a regular
      iSUP.
      <button class="hero__btn">
        <svg class="hero__svg" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="svg" d="M52.6733 34.5L26.1634 49.6554V19.3446L52.6733 34.5Z"/>
          <circle cx="35" cy="35" r="34" stroke-width="2"/>
          </svg>
        <p class="play__text">Play video</p>
      </button>
    </p>
      <p class="hero__text hero__text--line">
      With a thinner deck pad and tough but flexible construction, the Ray Air
      Pocket Edition can be rolled and packed into a much narrower bag, making
      it extremely easy to store and transport. Based on our highly versatile
      Ray Air 11’6’’, the efficient shape is packed with volume - offering safe,
      stable paddling and superb glide – which makes it the perfect iSUP for
      everyone paddling some distance. With its minimal weight and dimensions
      nothing comes close the convenient handling of our Pocket Edition iSUPs!
    </p>
  </div>
  <img class="hero__img" src="./images/header_hero/sup.png" alt="" />
</div>
  <div class="specs">
    <p class="specs__header">specs</p>
    <ul class="specs__line">
      <li class="specs__table">
        <p class="specs__text">BOARD</p>
        <p class="specs__subtext">RAY AIR POCKET 11'6"X31"</p>
      </li>
      <li class="specs__table">
        <p class="specs__text">VOLUME</p>
        <p class="specs__subtext">299 L</p>
      </li>
      <li class="specs__table">
        <p class="specs__text">WIDTH</p>
        <p class="specs__subtext">31" / 78.7 CM</p>
      </li>
      <li class="specs__table">
        <p class="specs__text">LENGTH</p>
        <p class="specs__subtext">11'6'' / 350.5 CM</p>
      </li>
      <li class="specs__table">
        <p class="specs__text">THICKNESS</p>
        <p class="specs__subtext">6” / 15 CM</p>
      </li>
      <li class="specs__table">
        <p class="specs__text">WEIGHT</p>
        <p class="specs__subtext">8.5 KG</p>
      </li>
      <li class="specs__table">
        <p class="specs__text">FITTINGS</p>
        <p class="specs__subtext">2X FCS FIN SYSTEM / 2 X 4.5" CLICK FIN</p>
      </li>
      <li class="specs__table">
        <p class="specs__text">REC. USER WEIGHT</p>
        <p class="specs__subtext">UP TO 100 KG</p>
      </li>
      <li class="specs__table">
        <p class="specs__text">MASTFOOT INSERT</p>
        <p class="specs__subtext">NO</p>
      </li>
    </ul>
  </div>
</section>
