<section class="main">
  <div class="container buy">
    <div class="description">
      <h3 class="main__title">RAY AIR POCKET</h3>
      <ul class="description__list">
        <li class="description__item">
          <p class="description__title">CLICK FINS</p>
          <p class="description__text">
            Comes with two 4.5’’ Click Fins – no tools required – fit and remove
            in seconds
          </p>
        </li>
        <li class="description__item">
          <p class="description__title">REDUCED DECK PAD</p>
          <p class="description__text">
            Reduced area deck pad in standing area to aid packing
          </p>
        </li>
        <li class="description__item">
          <p class="description__title">BACKPACK</p>
          <p class="description__text">
            Compact Pocket backpack with easy entry zipper for board, paddle,
            pump and accessories (fits paddle and also regular pump)
          </p>
        </li>
        <li class="description__item">
          <p class="description__title">TOURING SHAPE</p>
          <p class="description__text">
            Tried and tested shape based on our popular Ray Air 11’6’’
          </p>
        </li>
        <li class="description__item">
          <p class="description__title">EXTREMELY PORTABLE</p>
          <p class="description__text">
            Extremely portable, the ultimate travel companion
          </p>
        </li>
      </ul>
      <button class="button__main">buy</button>
      <span class="price">590 €</span>
    </div>
    <picture>
      <source
        srcset="
          /src/images/main/sub1_1x.jpg 1x,
          /src/images/main/sub1_2x.jpg 2x
        "
        type="image/jpeg"
      />
      <img src="/src/images/main/sub1_1x.jpg" alt="" class="img" />
    </picture>
  </div>
</section>
<section class="technology">
  <div class="tehnology__top">
    <div class="container">
      <div class="technology__top-inner">
        <div class="technology__top-box">
          <h2 class="technology__title">MICRO TECHNOLOGY</h2>
          <ol class="technology__list">
            <li class="technology__item">First PVC rail layer</li>
            <li class="technology__item">Second PVC rail layer</li>
            <li class="technology__item">Thin diamond grooving split-pad</li>
            <li class="technology__item">Strong Tarpaulin layer</li>
            <li class="technology__item">V-Drop Stitch core</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery">
    <div class="container">
      <div class="gallerymin">
        <p class="gallerymin__title">
          Our new Micro technology provides a featherweight and quality
          construction that can be rolled and packed into a backpack half the
          width of a standard iSUP package. The reduced pad and our twin Click
          Fin system make it possible to have a regular sized iSUP packed into
          minimal space.
        </p>
        <ul class="gallerymin__list">
          <li class="gallerymin__item--1">
            <picture>
              <source
                srcset="
                  /src/images/main/pic1_1x.jpg 1x,
                  /src/images/main/pic1_2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="/src/images/main/pic1_1x.jpg"
                alt=""
                class="picture--1"
              />
            </picture>
          </li>
          <li class="gallerymin__item">
            <picture>
              <source
                srcset="
                  /src/images/main/pic2_1x.jpg 1x,
                  /src/images/main/pic2_2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="/src/images/main/pic2_1x.jpg"
                alt=""
                class="picture--2"
              />
            </picture>
          </li>
          <li class="gallerymin__item">
            <picture>
              <source
                srcset="
                  /src/images/main/pic3_1x.jpg 1x,
                  /src/images/main/pic3_2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img src="/src/images/main/pic3_1x.jpg" alt="" class="picture" />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="gallerymax__list">
      <li class="gallerymax__item">
        <picture>
          <source
            srcset="
              /src/images/main/pic4_1x.jpg 1x,
              /src/images/main/pic4_2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="/src/images/main/pic4_1x.jpg" alt="" class="" />
        </picture>
      </li>
      <li class="gallerymax__item--2">
        <picture>
          <source
            srcset="
              /src/images/main/pic5_1x.jpg 1x,
              /src/images/main/pic5_2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="/src/images/main/pic5_1x.jpg" alt="" class="" />
        </picture>
      </li>
      <li class="gallerymax__item">
        <picture>
          <source
            srcset="
              /src/images/main/pic6_1x.jpg 1x,
              /src/images/main/pic6_2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="/src/images/main/pic6_1x.jpg" alt="" class="" />
        </picture>
      </li>
      <li class="gallerymax__item">
        <picture>
          <source
            srcset="
              /src/images/main/pic7_1x.jpg 1x,
              /src/images/main/pic7_2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="/src/images/main/pic7_1x.jpg" alt="" class="" />
        </picture>
      </li>
      <li class="gallerymax__item">
        <picture>
          <source
            srcset="
              /src/images/main/pic8_1x.jpg 1x,
              /src/images/main/pic8_2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="/src/images/main/pic8_1x.jpg" alt="" class="picture" />
        </picture>
      </li>
      <li class="gallerymax__item--8">
        <p class="gallerymax__text">ENJOY YOUR LIFE</p>
      </li>
      <li class="gallerymax__item--9">
        <picture>
          <source
            srcset="
              /src/images/main/pic9_1x.jpg 1x,
              /src/images/main/pic9_2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="/src/images/main/pic9_1x.jpg" alt="" class="picture" />
        </picture>
      </li>
    </ul>
  </div>
</section>
