<section class="main">
  <div class="container buy">
    <div class="description">
      <h3 class="main__title">RAY AIR POCKET</h3>
      <ul class="description__list">
        <li class="description__item">
          <p class="description__title">CLICK FINS</p>
          <p class="description__text">
            Comes with two 4.5’’ Click Fins – no tools required – fit and remove
            in seconds
          </p>
        </li>
        <li class="description__item">
          <p class="description__title">REDUCED DECK PAD</p>
          <p class="description__text">
            Reduced area deck pad in standing area to aid packing
          </p>
        </li>
        <li class="description__item">
          <p class="description__title">BACKPACK</p>
          <p class="description__text">
            Compact Pocket backpack with easy entry zipper for board, paddle,
            pump and accessories (fits paddle and also regular pump)
          </p>
        </li>
        <li class="description__item">
          <p class="description__title">TOURING SHAPE</p>
          <p class="description__text">
            Tried and tested shape based on our popular Ray Air 11’6’’
          </p>
        </li>
        <li class="description__item">
          <p class="description__title">EXTREMELY PORTABLE</p>
          <p class="description__text">
            Extremely portable, the ultimate travel companion
          </p>
        </li>
      </ul>
      <button class="button__main">buy</button>
      <span class="price">590 €</span>
    </div>
      <picture>
        <source srcset="/src/images/main/sub1_1x.jpg" type="image/jpeg" />
        <img src="/src/images/main/sub1_1x.jpg" alt="Технокряк" class="img" />
      </picture>
  </div>
</section>
<section class="technology">
      <h2>MICRO TECHNOLOGY</h2>
      <ol>
        <li>First PVC rail layer</li>
        <li>Second PVC rail layer</li>
        <li>Thin diamond grooving split-pad</li>
        <li>Strong Tarpaulin layer</li>
        <li>V-Drop Stitch core</li>
      </ol>
</section>
<section>
    <p>
      Our new Micro technology provides a featherweight and quality construction
      that can be rolled and packed into a backpack half the width of a standard
      iSUP package. The reduced pad and our twin Click Fin system make it
      possible to have a regular sized iSUP packed into minimal space.
    </p>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
